* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;}

html {font-size: 62.5%;}

body {font-size: 1.6rem;
font-weight: 400;
font-family: 'poppins', sans-serif;
margin: 0 auto; line-height: 1;
}

.header {display: grid; grid-template-columns: 1.8fr 1.5fr 1fr;
    width: 100%; height: 100%;
    background-image: linear-gradient(75deg, #2f9e44 25%, #03071f 25%);}

.header-div img {width: 100%; height: 100%; border-radius: 60px;}

.header-img {padding: 5rem;}

ul li {list-style: none; }

ul {display: flex; flex-direction: column; float: right; padding: 15rem 5rem 0 0; gap: 3rem;}

h2 {margin-top: 15rem; font-size: 4rem; line-height: 1.3; color: white;}

p {margin-top: 5rem; font-size: 2rem; line-height: 1.5; color: white;}

span {color: #2f9e44;}

.btn-download {display: inline-block; margin-top: 3rem; font-size: 2rem; text-decoration: none; border: 1px solid white; border-radius: 30px; padding: 1.3rem 2rem; color: white; transition: all .5s;}
.btn-download:hover {transform: scale(1.1); border: none; background-color: #2f9e44; cursor: pointer;}

.div1 {padding-left: 5rem; padding-bottom: 5rem;}

.div2-icon {width: 3rem; height: 3rem; padding: 1.5rem; border-radius: 50%; background-color: #868e96; color: #dee2e6; transition: all .3s;}

.div2-icon:hover {transform: scale(1.1); background-color: #2f9e44; border: none;}


